body {background: #000;}
.slider{position: relative;width:850px;height:540px;overflow:hidden;margin:200px auto;}
.slider ul{width:850px;margin:0 auto;position:relative}
.slider li{float:left;position:absolute;border:7px #ffffff solid;}
.slider img{overflow: hidden}
.p1{z-index:7}
.p2{z-index:8}
.p3{z-index:9}
.p4{z-index:10}
.p5{z-index:9}
.p6{z-index:8}
.p7{z-index:7}
.btn {
    position: relative;
	width: 94px;
	height: 34px;
	margin: 0 auto;
    top: 350px;
}
.btn a {
	display: block;
	height: 34px;
	width: 35px;
	background: url(img/btn.png) no-repeat;
}
.btn .bleft{
	background-position:  -1px 0;
}
.btn .bleft:hover{
	background-position:  0 -34px;
}
.btn .bright{
    position: absolute;
    right: 0;
    top: 0;
	background-position:  -60px 0;
}
.btn .bright:hover{
	background-position:  -60px -34px;
}
